@charset "UTF-8";

section#carousel {
    height: 100vh;
    width: 100%;
    background-color: #775141;
    transform: translateY(-6%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#carousel > aside {
    width: 80%;
}

