@charset "UTF-8";
@import url(variables.css);

section#description {
    height: 100vh;
    background-color: whitesmoke;
}

section#description aside.container {
    padding-top: 5vmin;
    text-align: center;
}

section#description aside.container h1 {
    font-size: 5vmin;
}

section#description aside.container h2 {
    font-size: 6vmin;
    margin: 3vmin 0;
}

section#description aside.container h2 span {
    font-size: 12vmin;
}