@charset "UTF-8";
@import url(variables.css);

div.load section#home {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-image: var(--picture);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center; */
    transition: .8s ease-in-out;
}

div.load section#home > div {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

div.load section#home img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    background-attachment: fixed;
}

div.load section#home::after {
    content: '';
    height: 100%;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.374);
    /* backdrop-filter: blur(10px); */
}

div.load section#home aside.about {
    position: relative;
    width: 80%;
    z-index: 4;
}

div.load section#home aside.about h1 {
    font-size: 15vmin;
    line-height: 0.95;
    letter-spacing: .2px;
    color: rgba(245, 245, 245, 0.934);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.201);
    font-family: var(--Halyard), Arial, Helvetica, sans-serif;
}