@charset "UTF-8";
@import url(variables.css);

:root {
    --percentage: 0;
}

div.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: var(--percentage);
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
    background-color: #00B89F;
    transition: .8s ease-in-out;
}

section#loading {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: whitesmoke;
    transition: .8s ease-in-out;
}

section#loading.finish {
    opacity: 0;
}

section#loading aside.container {
    position: relative;
    width: 100%;
    height: 15vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#loading aside.container.active {
    animation: logo 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes logo {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        scale: 1.5;
    }

    75% {
        scale: 1;
    }

    100% {
        opacity: 0;
    }
}

section#loading aside.container aside.logo,
section#loading aside.container aside.description {
    height: 100%;
}

section#loading aside.container aside.logo {
    z-index: 3;
}

section#loading aside.container aside.logo img {
    width: auto;
    background: transparent;
    height: 100%;
    animation: rotate ease-in-out 2s infinite forwards;
}

@keyframes rotate {
    from {
        rotate: 0;
    }

    to {
        rotate: -360deg;
    }
}

section#loading aside.container aside.description {
    margin-left: 1.5vmin;
    z-index: 2;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 0;
    transition: 1s ease-in-out;
}

section#loading aside.container aside.description.active {
    max-width: 100%;
    transition: 1s ease-in-out;
}

section#loading aside.container aside.description::after {
    background: transparent;
    content: '';
    width: 101%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .8s ease-in-out;
}

section#loading aside.container aside.description.active::after {
    left: 100%;
}

section#loading aside.container aside.description img {
    height: 80%;
    width: max-content;
}

div.load {
    display: none;
}

div.load.finish {
    display: block;
    opacity: 0;
    transition: .8s ease-in-out;
}

aside.info {
    z-index: 1;
    display: flex;
    gap: 1vmin;
    position: absolute;
    font-size: 2vmin;
    bottom: 12vh;
    left: 50%;
    transform: translateX(-50%);
}

aside.info p {
    font-family: var(--Poppins);
}

section#error {
    display: none;
    opacity: 0;
    z-index: 3;
    position: fixed;
    top: 2vmin;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    min-width: 60vw;
    max-width: 80vw;
    min-height: 15vmin;
    max-height: max-content;
    transition: .8s ease-in-out;
}

section#error aside {
    width: 100%;
    min-height: 15vmin;
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 4;
}

section#error {
    box-shadow: 0px 0px 10px rgba(184, 41, 41, 0.386);
    transition: .8s ease-in-out;
}

section#error:hover {
    box-shadow: 0px 0px 10px rgba(184, 41, 41, 0.557);
}

section#error aside span.message {
    display: flex;
    justify-content: center;
    width: 78%;
    height: 70%;
}

section#error aside span.message p {
    display: block;
    font-size: 2vmin;
}

section#error aside span.img {
    height: 100%;
    font-size: 3vmin;
    font-family: var(--Montserrat);
    color: rgb(48, 45, 45);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205);
    font-weight: 600;
    text-align: center;
    margin-left: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2vmin;
}

section#error aside span.img img {
    height: 10vmin;
}

section#succes {
    display: none;
    background-color: rgba(51, 100, 51, 0.174);
    border: 2.5px solid rgba(5, 98, 5, 0.657);
}

section#error {
    background-color: rgba(184, 41, 41, 0.386);
    border: 2.5px solid rgba(255, 0, 0, 0.631);
}

section#error aside span.message ul {
    width: 80%;
}

section#error aside span.message ul li {
    font-family: var(--Poppins);
    list-style-type: none;
    list-style-position: inside;
}