@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Halyard;
    src: url(../fonts/Halyard/fonnts.com-Halyard_Display_Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 460px) {
    * {
        cursor: none !important;
    }
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    transition: .8s ease-in-out;
}

body.scroll {
    overflow-y: auto;
}

@layer fonts {
    :root {
        --Gwendolyn: Gwendolyn;
        --Halyard: Halyard;
        --Raleway: Raleway;
        --Poppins: Poppins;
        --Roboto: Roboto;
    }
}

@layer pictures {
    :root {
        --picture: url(../img/fachadaDois.jpg);
    }
}

div.readed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    scale: 1 0;
    height: 1vmin;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
    background-color: #1cc1ab;
    transform-origin: left;
    animation: readed 1ms ease-in-out;
    animation-timeline: scroll();
    z-index: 8;
}

@keyframes readed {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
        border-radius: 0;
    }
}

div#back {
    width: 5vmin;
    height: 5vmin;
    background-color: #1cc1ab;
    z-index: 8;
    box-shadow: 0px 0px 5cap rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1;
    position: fixed;
    right: 4%;
    cursor: pointer;
    bottom: 2%;
    transition: .8s ease-in-out;
}